<!-- <mat-form-field appearance="fill">
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppings" multiple>
        <mat-select-trigger>
            {{toppings.value ? toppings.value[0] : ''}}
            <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
            </span>
        </mat-select-trigger>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
</mat-form-field> -->
<!-- //////////////////////////////////////////////////////// -->
<!-- <h3>Multiple selection</h3>
<p>
    <mat-form-field>
        <mat-select [formControl]="bankMultiCtrl" placeholder="Banks" [multiple]="true" #multiSelect>
            <mat-option>
                <ngx-mat-select-search [formControl]="bankMultiFilterCtrl"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
                <img class="avatar" aria-hidden src="assets\img\avatar27-sm.jpg" height="25">
                <span class="ml-2">{{bank.name}}</span>
            </mat-option>
        </mat-select>
    </mat-form-field>
</p>
<p>
    Selected Banks:
</p>
<ul *ngFor="let bank of bankMultiCtrl?.value">
    <li>{{bank.name}}</li>
</ul> -->
<p-table [value]="projectsList" dataKey="name">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th>membres</th>
            <th pSortableColumn="deadline">deadline <p-sortIcon field="deadline"></p-sortIcon>
            </th>
            <th pSortableColumn="status">status <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th pSortableColumn="progress">progress <p-sortIcon field="progress"></p-sortIcon>
            </th>
            <th pSortableColumn="createdDate">created Date <p-sortIcon field="createdDate"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project let-expanded="expanded">
        <tr>
            <td>
                <button type="button" pButton pRipple [pRowToggler]="project"
                    class="p-button-text p-button-rounded p-button-plain"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>{{project.name}}</td>
            <td>
                <p-avatarGroup styleClass="p-mb-3">
                    <p-avatar *ngFor="let member of project.membres| slice:0:3" image="assets/img/author-page.jpg"
                        shape="circle">
                    </p-avatar>
                    <p-avatar *ngIf="project.membres.length >3" label="{{'+'}}{{project.membres.length-3}}"
                        shape="circle" [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}">
                    </p-avatar>
                </p-avatarGroup>
            </td>
            <td>{{project.deadline}}</td>
            <td>{{project.status}}</td>
            <td>
                <p>{{project.progress}}</p>
            </td>
            <td><span>{{project.createdDate}}</span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-project>
        <tr>
            <td colspan="7">
                <div class="p-p-3">
                    <p-table [value]="project.tasks" dataKey="name">
                        <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="startDate">start Date <p-sortIcon field="startDate"></p-sortIcon>
            </th>
            <th pSortableColumn="dueDate">due Date <p-sortIcon field="dueDate"></p-sortIcon>
            </th>
            <th pSortableColumn="tags">tags<p-sortIcon field="tags"></p-sortIcon>
            </th>
            <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th style="width: 4rem"> Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
        <tr>
            <td>{{task.name}}</td>
            <td>{{task.startDate}}</td>
            <td>{{task.dueDate}}</td>
            <td>{{task.tags}}</td>
            <td>{{task.status}}</td>
            <td>
                <p-button type="button" icon="pi pi-search"></p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton type="button" icon="pi pi-plus" label="New" class="p-button-outlined p-button-sm"></button>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6">There are no order for this product yet.</td>
        </tr>
    </ng-template>
</p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>