<!-- <mat-form-field appearance="fill">
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppings" multiple>
        <mat-select-trigger>
            {{toppings.value ? toppings.value[0] : ''}}
            <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
            </span>
        </mat-select-trigger>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
</mat-form-field> -->
<!-- //////////////////////////////////////////////////////// -->
<!-- <h3>Multiple selection</h3>
<p>
    <mat-form-field>
        <mat-select [formControl]="bankMultiCtrl" placeholder="Banks" [multiple]="true" #multiSelect>
            <mat-option>
                <ngx-mat-select-search [formControl]="bankMultiFilterCtrl"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
                <img class="avatar" aria-hidden src="assets\img\avatar27-sm.jpg" height="25">
                <span class="ml-2">{{bank.name}}</span>
            </mat-option>
        </mat-select>
    </mat-form-field>
</p>
<p>
    Selected Banks:
</p>
<ul *ngFor="let bank of bankMultiCtrl?.value">
    <li>{{bank.name}}</li>
</ul> -->
<p-dialog appendTo="body" header="Comments" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <nz-list *ngIf="commentList.length" [nzDataSource]="commentList" [nzRenderItem]="item"
        [nzItemLayout]="'horizontal'">
        <ng-template #item let-item>
            <nz-comment [nzAuthor]="item.createdBy" [nzDatetime]="item.displayTime">
                <nz-avatar nz-comment-avatar nzIcon="user" nzSrc="assets/img/author-page.jpg"></nz-avatar>
                <nz-comment-content>
                    <p><b>{{ item.comment }}</b></p>
                </nz-comment-content>
            </nz-comment>
        </ng-template>
    </nz-list>
    <nz-comment>
        <nz-avatar nz-comment-avatar nzIcon="user" nzSrc="assets/img/author-page.jpg"></nz-avatar>
        <nz-comment-content>
            <nz-form-item>
                <span class="p-float-label">
                    <textarea [rows]="2" [cols]="55" pInputTextarea [(ngModel)]="commentValue"></textarea>
                    <label for="float-input">Add Comment here ...</label>
                </span>
            </nz-form-item>
            <nz-form-item>
                <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!commentValue"
                    (click)="onAddComment()">
                    Add Comment
                </button>
            </nz-form-item>
        </nz-comment-content>
    </nz-comment>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Close" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<div class="d-flex justify-content-between mb-5">
    <button nz-button nzType="primary" routerLink="/newproject"><i class="pi pi-plus mr-2"
            style="font-size: 0.8rem"></i>Add new Project</button>

    <div class="d-flex justify-content-end">
        <button *ngIf="!isCalendar" (click)="tasksViewMode()" nz-button class="mr-2"><i class="pi pi-calendar mr-2"
                style="font-size: 0.8rem"></i>Calander</button>
        <button *ngIf="isCalendar" (click)="tasksViewMode()" nz-button class="mr-2"><i class="pi pi-list mr-2"
                style="font-size: 0.8rem"></i>List</button>
        <button (click)="initProjectsList()" nz-button class="mr-2"><i class="pi pi-filter-slash mr-2"
                style="font-size: 0.8rem"></i>Clear</button>
        <button nz-button nz-popover nzPopoverTrigger="click" nzPopoverTitle="Task Filter" nzType="primary"
            [(nzPopoverVisible)]="filterVisible" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="left"><i
                class="pi pi-filter mr-2" style="font-size: 0.8rem"></i>Filter</button>
    </div>
</div>

<ng-template #contentTemplate>
    <!-- ////////////////////////////////////////////// -->

    <div class="form-row">
        <div class="col mb-3">
            <nz-select [(ngModel)]="TaskFilter.membres" id="member" style="width: 150px;" ngModel="prioritys"
                nzAllowClear nzPlaceHolder="choose user">
                <nz-option *ngFor="let option of usersForTaskFilter" nzLabel="{{option.firstName}} {{option.lastName}}"
                    [nzValue]="option.id"></nz-option>
            </nz-select>
        </div>
        <div class="col mb-3">
            <nz-select [(ngModel)]="TaskFilter.status" style="width: 150px;" id="status" nzAllowClear
                nzPlaceHolder="choose status">
                <nz-option *ngFor="let option of status" [nzLabel]="option.viewValue" [nzValue]="option.value">
                </nz-option>
            </nz-select>
        </div>
        <div class="col mb-3">
            <nz-select [(ngModel)]="TaskFilter.priority" id="priority" style="width: 150px;" nzAllowClear
                nzPlaceHolder="choose prioritys">
                <nz-option *ngFor="let option of prioritys" [nzLabel]="option.viewValue" [nzValue]="option.value">
                </nz-option>
            </nz-select>
        </div>
        <div class="col mb-3">
            <nz-date-picker nzPlaceHolder="Start Date" [(ngModel)]="TaskFilter.startDate" id="startDate"
                style="width: 150px;"></nz-date-picker>

        </div>
        <div class="col mb-3">
            <nz-date-picker nzPlaceHolder="Due Date" [(ngModel)]="TaskFilter.dueDate" id="dueDate"
                style="width: 150px;"></nz-date-picker>


        </div>

    </div>
    <div class="form-row">

        <div class="col mb-3">
            <mat-form-field>
                <mat-label>Task Name</mat-label>
                <input [(ngModel)]="TaskFilter.name" matInput type="text">
                <button mat-button matSuffix mat-icon-button aria-label="Clear">
                </button>
            </mat-form-field>
        </div>
        <div class="col mb-3">
            <p-rating [(ngModel)]="TaskFilter.score" id="rating"></p-rating>
        </div>
        <div class="col">
            <button (click)="onTaskFilter()" nz-button nzType="primary"><i class="pi pi-plus mr-2"
                    style="font-size: 0.8rem"></i>Filter</button>
        </div>
    </div>


</ng-template>
<p-dialog appendTo="body" [closeOnEscape]="false" header="Task Details" [style]="{width: '450px', height: '70%'}"
    [(visible)]="displayDetailTaskDialog">
    <ng-template pTemplate="content" *ngIf="currentProject && taskForUpdate && userOfSelectedTask">
        <div class="d-flex flex-row">
            <div class="p-2"><i class="pi pi-user"></i> Creator : <b><i>{{userOfSelectedTask.firstName | titlecase}}
                        {{userOfSelectedTask.lastName | titlecase}}</i></b></div>
            <div class="p-2"><i class="pi pi-calendar"></i> Created Date : <b>{{taskForUpdate.createdDate}}</b></div>
        </div>
        <div class="dropdown-divider mt-4 mb-4"></div>
        <div class="p-field">
            <div class="d-flex flex-row">
                <div class="p-2"><i class="pi pi-star"><b> Review : </b></i></div>
                <div class="p-2">
                    <p-rating [disabled]="Ondetails" [(ngModel)]="taskForUpdate.score" [cancel]="false"
                        [readonly]="lc.getCurrentUser() === currentProject.creator ?  false : true ">
                    </p-rating>
                </div>
            </div>
        </div>
        <div class="p-field">
            <mat-form-field style="width: 370px;">
                <mat-label>Title</mat-label>
                <input [disabled]="Ondetails" [(ngModel)]="taskForUpdate.name" autofocus matInput
                    placeholder="Ex.. Task title">
            </mat-form-field>
        </div>
        <div class="p-field">
            <mat-form-field style="width: 370px;">
                <mat-label>tags</mat-label>
                <input [disabled]="Ondetails" [(ngModel)]="taskForUpdate.tags" matInput placeholder="Ex.. Tags name">
            </mat-form-field>
        </div>
        <div class="p-field">
            <mat-form-field appendTo="body" style="width: 370px;" appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="pickerv2">
                    <input [disabled]="Ondetails" [(ngModel)]="taskForUpdate.startDate" matStartDate
                        placeholder="Start date">
                    <input [disabled]="Ondetails" [(ngModel)]="taskForUpdate.dueDate" matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="pickerv2"></mat-datepicker-toggle>
                <mat-date-range-picker appendTo="body" #pickerv2></mat-date-range-picker>
            </mat-form-field>
        </div>
        <div class="dropdown-divider mt-1 mb-1"></div>
        <div class="p-field">
            <div>
                <h5><b>Select priority</b></h5>
                <p-dropdown [disabled]="Ondetails" [(ngModel)]="taskForUpdate.priority" [style]="{width: '370px'}"
                    id="prioritys" [options]="prioritys" optionLabel="viewValue" optionValue="value"></p-dropdown>
            </div>
            <div>
                <h5><b>Select Statu :</b></h5>
                <p-dropdown [disabled]="Ondetails" [(ngModel)]="taskForUpdate.status" [style]="{width: '370px'}"
                    id="status" [options]="status" optionLabel="viewValue" optionValue="value"></p-dropdown>
            </div>
        </div>
        <div class="dropdown-divider mt-1 mb-3"></div>
        <div *ngIf="!Ondetails" class="p-field">
            <mat-form-field appendTo="body" style="width: 370px;" appearance="fill">
                <mat-label><i class="pi pi-user"></i> Members :</mat-label>
                <mat-select [(ngModel)]="taskForUpdate.membres" multiple>
                    <mat-option appendTo="body" *ngFor="let user of currentProject.membres" [value]="user">
                        {{user.firstName}}
                        {{user.lastName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="Ondetails" class="p-field">
            <h5>Members</h5>
            <div class="d-flex flex-column">
                <div *ngFor="let user of taskForUpdate.membres" class="p-2">
                    <p-avatar pBadge value="4" severity="danger" image="assets/img/author-page.jpg"></p-avatar>
                    <b> : {{user.firstName}} {{user.lastName}}</b>
                </div>
            </div>
        </div>
        <div>
            <div class="clearfix">


                <div class="d-flex flex-row">
                    <p-fileUpload showCancelButton="true" #fubauto mode="basic" name="demo[]" customUpload="true"
                        (uploadHandler)="myUploader($event,taskForUpdate.id);fubauto.clear()" chooseLabel="Upload File">
                    </p-fileUpload>
                </div>
                <ul *ngIf="uploadedFileList.length" class="list-group list-group-flush">
                    <li *ngFor="let file of uploadedFileList"
                        class="list-group-item d-flex justify-content-between align-items-center">

                        <div class="d-flex justify-content-between">
                            <div> <a href="{{file.url}}">{{file.fileName}}</a></div>
                            <div>
                                <button (click)="fubauto.clear()" pButton pRipple type="button" icon="pi pi-times"
                                    class="p-button-rounded p-button-text p-button-plain p-button-danger "></button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="p-field">
            <mat-form-field style="width: 370px;">
                <mat-label>description :</mat-label>
                <textarea [disabled]="Ondetails" [(ngModel)]="taskForUpdate.description" matInput
                    placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="displayDetailTaskDialog=false;displayDetailTaskDialog = false"></button>
        <button [disabled]="Ondetails" (click)="OnEditSelectedTask(taskForUpdate,currentProject)" pButton pRipple
            label="Save" icon="pi pi-check" class="p-button-text"></button>
    </ng-template>
</p-dialog>


<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>

<nz-spin *ngIf="!isCalendar" [nzSpinning]="loadingData" [nzSize]="'large'">
    <p-table [value]="projectsList" dataKey="name">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem"></th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th>membres</th>
                <th pSortableColumn="deadline">deadline <p-sortIcon field="deadline"></p-sortIcon>
                </th>
                <th pSortableColumn="status">status <p-sortIcon field="status"></p-sortIcon>
                </th>
                <th pSortableColumn="progress">progress <p-sortIcon field="progress"></p-sortIcon>
                </th>
                <th pSortableColumn="createdDate">created Date <p-sortIcon field="createdDate"></p-sortIcon>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-project let-expanded="expanded">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="project"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td>

                    <span pTooltip="Preview" tooltipPosition="top">{{project.name}}</span>
                </td>
                <td>
                    <p-avatarGroup styleClass="p-mb-3">
                        <p-avatar pTooltip="{{member.firstName}} {{member.lastName}}" tooltipPosition="top"
                            *ngFor="let member of project.membres| slice:0:3" image="assets/img/author-page.jpg"
                            shape="circle">
                        </p-avatar>
                        <p-avatar *ngIf="project.membres.length >3" label="{{'+'}}{{project.membres.length-3}}"
                            shape="circle" [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}">
                        </p-avatar>
                    </p-avatarGroup>
                </td>
                <td>{{project.deadline}}</td>
                <td>{{project.status}}</td>
                <td>
                    <p-progressBar [value]="project.progress"></p-progressBar>
                    <!-- <p>{{project.progress}}</p> -->
                </td>
                <td><span>{{project.createdDate}}</span>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-project>
            <tr>
                <td colspan="7">
                    <div class="p-p-3">
                        <p-table [scrollable]="true" [style]="{width:'auto'}" [value]="project.tasks" dataKey="name">
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col style="width: 1.8rem;">
                                    <col style="width:250px">
                                    <col style="width: 2.5rem;">
                                    <col style="width:250px">
                                    <col style="width: 125px;">
                                    <col style="width: 125px;">
                                    <col style="width:160px">
                                    <col style="width:250px">
                                    <col style="width:250px">
                                    <col style="width:250px">
                                    <col style="width:6rem">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th pSortableColumn="name">Title <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th></th>
                <th pSortableColumn="members">Members<p-sortIcon field="members"></p-sortIcon>
                </th>
                <th pSortableColumn="priority">priority <p-sortIcon field="priority"></p-sortIcon>

                <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
                </th>
                <th pSortableColumn="score">Rating <p-sortIcon field="score"></p-sortIcon>
                </th>
                <th pSortableColumn="startDate">start Date <p-sortIcon field="startDate">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="dueDate">due Date <p-sortIcon field="dueDate"></p-sortIcon>
                </th>
                <th pSortableColumn="tags">tags<p-sortIcon field="tags"></p-sortIcon>
                </th>
                <th> Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task let-rowIndex="rowIndex">
            <tr>
                <!-- <td>{{rowIndex +1 }}</td> -->
                <td>
                    <div class="btn-toolbar mb-3">
                        <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" pButton
                            type="button" icon="pi pi-ellipsis-v" class="p-button-text p-button-sm "
                            pTooltip="Edit Task" tooltipPosition="top"></button>
                        <mat-menu #menu="matMenu">
                            <button (click)="showDetailTaskDialog(task,project)" mat-menu-item pButton label="Detail"
                                type=" button" icon="pi pi-info" class="p-button-text p-button-info p-button-sm"
                                pTooltip="info" tooltipPosition="top"></button>
                            <button (click)="showEditTaskDialog(task,project)" mat-menu-item pButton label="Edit"
                                type="button" icon="pi pi-ellipsis-v"
                                class="p-button-text p-button-warning p-button-sm " pTooltip="Edit Task"
                                tooltipPosition="top"></button>
                            <button mat-menu-item pButton (click)="deleteConfirm(task.id,project)" type="button"
                                icon="pi pi-times-circle" class="p-button-text p-button-danger p-button-sm"
                                pTooltip="Delete" tooltipPosition="top" label="Delete"></button>
                        </mat-menu>
                    </div>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="output">
                            <span *ngIf='task.name!=""; else noTitle'>{{task.name}}</span>
                            <ng-template #noTitle>Tap to edit</ng-template>
                        </ng-template>
                        <ng-template pTemplate="input">
                            <input (change)="onchowdate(project,task,1)" placeholder="{{task.name}}"
                                [(ngModel)]="taskToUpdate.name" pInputText type="text">
                        </ng-template>
                    </p-cellEditor>

                </td>
                <td><button (click)="onShowCommentsModal(task)" pButton pRipple type="button" icon="pi pi-comments"
                        class="p-button-rounded p-button-text p-button-plain"></button>
                </td>

                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="output">
                            <span *ngIf='task.membres.length>0; else noMembers'>
                                <p-avatarGroup styleClass="p-mb-3">
                                    <p-avatar pTooltip="{{member.firstName}} {{member.lastName}}" tooltipPosition="top"
                                        *ngFor="let member of task.membres| slice:0:3"
                                        image="assets/img/author-page.jpg" shape="circle">
                                    </p-avatar>
                                    <p-avatar *ngIf="task.membres.length >3" label="{{'+'}}{{task.membres.length-3}}"
                                        shape="circle" [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}">
                                    </p-avatar>
                                </p-avatarGroup>

                            </span>
                            <ng-template #noMembers>Tap to add</ng-template>
                        </ng-template>
                        <ng-template pTemplate="input">
                            <!-- <ng-select >
                            <ng-option *ngFor="let user of project.membres" [value]="user">{{user.firstName}} {{user.lastName}}</ng-option>
                         </ng-select> -->
                            <!-- <select multiple multiple  (change)="selectCar(task.membres)" [(ngModel)]="task.membres">
                            <option *ngFor="let user of project.membres" [value]="user" >{{user.firstName}} {{user.lastName}}</option>
                        </select> -->
                            <div class="p-inputgroup">
                                <mat-form-field appearance="fill">
                                    <mat-label>Members</mat-label>
                                    <mat-select [(ngModel)]="task.membres" multiple>
                                        <mat-option *ngFor="let user of project.membres" [value]="user">
                                            {{user.firstName}}
                                            {{user.lastName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <button (click)="onchowdate(project,task,8)" pButton type="button" icon="pi pi-check"
                                    style="height: 50px;"
                                    class="ml-1 p-button-success p-button-outlined p-button-sm"></button>
                            </div>
                        </ng-template>
                    </p-cellEditor>

                </td>



                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="output">
                            <ng-container *ngIf="task.priority==='MEDIUM'; else elseif1">
                                <p-tag styleClass="p-mr-2" severity="warning" value="{{task.priority}}"></p-tag>
                            </ng-container>
                            <ng-template #elseif1>
                                <ng-container *ngIf="task.priority==='HIGH'; else elseif4">
                                    <p-tag styleClass="p-mr-2" severity="danger" value="{{task.priority}}"></p-tag>
                                </ng-container>
                            </ng-template>
                            <ng-container *ngIf="task.priority==='LOW'" #elseif4>
                                <p-tag styleClass="p-mr-2" severity="success" value="{{task.priority}}"></p-tag>
                            </ng-container>
                        </ng-template>
                        <ng-template pTemplate="input">
                            <p-dropdown appendTo="body" (onChange)="onchowdate(project,task,6)"
                                [(ngModel)]="taskToUpdate.priority" placeholder="{{task.priority}}"
                                [options]="prioritys" optionLabel="viewValue" optionValue="value"></p-dropdown>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="output">
                            <ng-container *ngIf="task.status==='Not Started'; else elseif1">
                                <p-tag styleClass="p-mr-2" severity="warning" value="{{task.status}}"></p-tag>
                            </ng-container>
                            <ng-template #elseif1>
                                <ng-container *ngIf="task.status==='In Progress'; else elseif2">
                                    <p-tag styleClass="p-mr-2" severity="" value="{{task.status}}"></p-tag>
                                </ng-container>
                            </ng-template>
                            <ng-template #elseif2>
                                <ng-container *ngIf="task.status==='On Hold'; else elseif3">
                                    <p-tag styleClass="p-mr-2" severity="danger" value="{{task.status}}"></p-tag>
                                </ng-container>
                            </ng-template>
                            <ng-template #elseif3>
                                <ng-container *ngIf="task.status==='Cancelled'; else elseif4">
                                    <p-tag styleClass="p-mr-2" severity="danger" value="{{task.status}}"></p-tag>
                                </ng-container>
                            </ng-template>
                            <ng-container *ngIf="task.status==='Finished'" #elseif4>
                                <p-tag styleClass="p-mr-2" severity="success" value="{{task.status}}"></p-tag>
                            </ng-container>
                        </ng-template>
                        <ng-template pTemplate="input">
                            <p-dropdown appendTo="body" (onChange)="onchowdate(project,task,5)"
                                [(ngModel)]="taskToUpdate.status" placeholder="{{task.status}}" [options]="status"
                                optionLabel="viewValue" optionValue="value"></p-dropdown>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-rating (onRate)="onchowdate(project,task,7)" [cancel]="false"
                        [readonly]="lc.getCurrentUser() === project.creator ?  false : true " [(ngModel)]="task.score">
                    </p-rating>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="output">{{task.startDate}}</ng-template>
                        <ng-template pTemplate="input" class="btn-toolbar mb-2">
                            <nz-date-picker nzDefaultPickerValue="{{task.startDate}}"
                                [(ngModel)]="taskToUpdate.startDate" (ngModelChange)="onchowdate(project,task,2)">
                            </nz-date-picker>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="output">{{task.dueDate}}</ng-template>
                        <ng-template pTemplate="input" class="btn-toolbar mb-2">
                            <nz-date-picker [(ngModel)]="taskToUpdate.dueDate"
                                (ngModelChange)="onchowdate(project,task,3)">
                            </nz-date-picker>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="output">
                            <span *ngIf='task.tags!=""; else notags'>{{task.tags}}</span>
                            <ng-template class="btn-info" #notags>Tap to edit</ng-template>
                        </ng-template>
                        <ng-template pTemplate="input">
                            <input placeholder="{{task.tags}}" (change)="onchowdate(project,task,4)"
                                [(ngModel)]="taskToUpdate.tags" pInputText type="text">
                        </ng-template>
                    </p-cellEditor>

                </td>
                <td>
                    <div class="btn-toolbar mb-3">
                        <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" pButton
                            type="button" icon="pi pi-ellipsis-v" class="p-button-text p-button-sm "
                            pTooltip="Edit Task" tooltipPosition="top"></button>
                        <mat-menu #menu="matMenu">
                            <button (click)="showDetailTaskDialog()" mat-menu-item pButton label="Detail" type=" button"
                                icon="pi pi-info" class="p-button-text p-button-info p-button-sm" pTooltip="info"
                                tooltipPosition="top"></button>
                            <button (click)="showEditTaskDialog()" mat-menu-item pButton label="Edit" type="button"
                                icon="pi pi-ellipsis-v" class="p-button-text p-button-warning p-button-sm "
                                pTooltip="Edit Task" tooltipPosition="top"></button>
                            <button mat-menu-item pButton (click)="deleteConfirm(task.id,project)" type="button"
                                icon="pi pi-times-circle" class="p-button-text p-button-danger p-button-sm"
                                pTooltip="Delete" tooltipPosition="top" label="Delete"></button>
                        </mat-menu>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="10">
                    <button pButton type="button" icon="pi pi-plus" label="New"
                        class="p-button-outlined p-button-sm mt-4 ml-4" (click)="Newtask(project.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">There are no task for this project yet.</td>
            </tr>
        </ng-template>
    </p-table>
    </div>
    </td>
    </tr>
    </ng-template>

    </p-table>
</nz-spin>
<nz-spin *ngIf="isCalendar" [nzSpinning]="loadingData" [nzSize]="'large'">
    <full-calendar [options]="calendarOptions"></full-calendar>
</nz-spin>
<nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
    (nzOnCancel)="previewVisible = false">
    <ng-template #modalContent>
        <!-- <img [src]="previewImage" [ngStyle]="{ width: '100%' }" /> -->
        <nz-result nzStatus="success" nzTitle="Successfully this project is done !"
            nzSubTitle="You can here select the best membre of the project !">
            <div nz-result-extra>
                <nz-list nzItemLayout="horizontal" [nzLoading]="loadingUsers">
                    <nz-list-item *ngFor="let user of listUsersOfCompletedProject">
                        <nz-list-item-meta
                            [nzAvatar]="user?.attributes?.imgUrl===' '  || user?.attributes?.imgUrl===''? 'assets/img/user-avatar.png' : urlserver(user?.attributes?.imgUrl)"
                            nzDescription="{{user.email}}">
                            <nz-list-item-meta-title>
                                <button (click)="sendCongradEmail(user.email)">{{ user.firstName }} {{ user.lastName
                                    }}</button>
                            </nz-list-item-meta-title>
                        </nz-list-item-meta>
                    </nz-list-item>
                    <button nz-button nzType="primary">Go Console</button>
                </nz-list>
            </div>
        </nz-result>
    </ng-template>
</nz-modal>