<!-- Top Header-Profile -->
<p-toast appendTo="body"></p-toast>

<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="top-header">
                    <div class="top-header-thumb">
                        <img src="assets/img/transmission-hero-1920x640.jpg" alt="nature">
                    </div>
                    <div class="profile-section">
                        <div class="row">
                            <div class="col col-lg-5 col-md-5 col-sm-12 col-12">
                            </div>
                            <div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
                            </div>
                        </div>
                    </div>
                    <div class="top-header-author">
                        <nz-spin [nzSpinning]="onLoadPhoto" [nzSize]="'large'">

                            <div class="author-thumb">
                                <img style="max-width: 124px;max-height: 124px;"
                                    [src]="currentUser?.attributes?.imgUrl==='string'  || currentUser?.attributes?.imgUrl===''? 'assets/img/user-avatar.png' : urlserver(currentUser?.attributes?.imgUrl)"
                                    alt="author">
                                <i nz-icon data-toggle="modal" data-target="#update-header-photo"
                                    [nzType]="'exclamation-circle'" [nzTheme]="'twotone'"
                                    style=" position: fixed; margin-top: -10% ;margin-left: 10%; font-size: 1.5rem;"
                                    nzTheme="twotone"></i>
                            </div>

                            <!-- <i nz-icon nzType="edit" style="position: absolute;" nzTheme="outline"></i> -->
                            <div class="author-content">

                                <a routerLink="/profile/edit/personalinformations"
                                    class="h4 author-name">{{currentUser.email}}</a>
                            </div>
                        </nz-spin>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Your Account Personal Information -->

<div class="container">
    <div class="row">
        <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
            <div class="ui-block">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div
            class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
            <div class="ui-block">

                <!-- Your Profile  -->

                <div class="your-profile">
                    <div class="ui-block-title">
                        <a class="title">Your PROFILE</a>
                    </div>

                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a class="h6 title" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Profile Settings
                                        <svg class="olymp-dropdown-arrow-icon">
                                            <use
                                                xlink:href="assets/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon">
                                            </use>
                                        </svg>
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <ul class="your-profile-menu">
                                    <li>
                                        <a routerLink="personalinformations">Personal Information</a>
                                    </li>

                                    <li>
                                        <a routerLink="restpassword">Change Password</a>
                                    </li>
                                    <li>
                                        <a routerLink="/project">Your Projects</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="ui-block-title">
                        <a href="33-YourAccount-Notifications.html" class="h6 title">Notifications</a>
                        <a href="#" class="items-round-little bg-primary">8</a>
                    </div>

                </div>

                <!-- ... end Your Profile  -->

            </div>
        </div>
    </div>
</div>

<!-- ... end Your Account Personal Information -->
<div class="modal fade" id="update-header-photo" tabindex="-1" role="dialog" aria-labelledby="update-header-photo"
    aria-hidden="true">
    <div class="modal-dialog window-popup update-header-photo" role="document">
        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                </svg>
            </a>

            <div class="modal-header">
                <h4 class="title">Update Header Photo</h4>
            </div>
            <div style="height: 120%;" class="modal-body">
                <!-- <nz-upload [nzLimit]="1" nzListType="picture-card" [nzPreview]="handlePreview">
                    <div>
                        <i nz-icon nzType="plus"></i>
                        <div style="margin-top: 8px">Upload</div>
                    </div>
                </nz-upload>
                <img *ngIf="previewVisible" [src]="previewImage" [ngStyle]="{ width: '100%' }" /> -->
                <ngx-file-drag-drop accept='image/*' [formControl]="fileControl" activeBorderColor="#3F51B5"
                    (valueChanged)="onValueChange($event,$event)">
                </ngx-file-drag-drop>
            </div>
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight">
                    <button data-dismiss="modal" aria-label="Close" class="btn btn-secondary">Cancel</button>
                    <button (click)="uploadProfilePic()" [disabled]="fileControl.invalid" data-dismiss="modal"
                        aria-label="Close" class="btn btn-primary">Confirm
                        Photo</button>
                </div>
            </div>
        </div>
    </div>
</div>