<div class="wrap-table100">
    <div class="table100 ver1">
        <!-- <div class="table100-firstcol">
            <table *ngIf="projectList">
                <thead style="background-color: #e6ecf5;">
                    <tr class="row100 head">
                        <th class="cell100 column1">Project Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row100 body" *ngFor="let project of projectList">
                        <td class="cell100 column1">{{project.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div> -->
        <!-- 
        <div class="wrap-table100-nextcols js-pscroll">
            <div class="table100-nextcols">
                <table *ngIf="projectList">
                    <thead style="background-color: #e6ecf5;">
                        <tr class="row100 head">
                            <th class="cell100 column2">Project name</th>
                            <th class="cell100 column2">Members</th>
                            <th class="cell100 column3">Status</th>
                            <th class="cell100 column4">Start Date</th>
                            <th class="cell100 column5">Deadline</th>
                            <th class="cell100 column6">Tags</th>
                            <th class="cell100 column7">Priority</th>
                            <th class="cell100 column8">Review</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row100 body" *ngFor="let project of projectList">
                            <td class="cell100 column2">{{project.name}}</td>
                            <td class="cell100 column2">{{project.membres}}</td>
                            <td class="cell100 column3">{{project.status}}</td>
                            <td class="cell100 column4">{{project.startDate}}</td>
                            <td class="cell100 column5">{{project.deadline}}</td>
                            <td class="cell100 column5">
                                <div class="d-flex flex-row">
                                    <div *ngFor="let tag of project.tags" class="p-2">
                                        <p-tag [rounded]="true" value="{{tag}}"></p-tag>
                                    </div>
                                </div>
                            </td>
                            <td class="cell100 column7">{{project.status}}</td>
                            <td class="cell100 column8">{{project.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
    </div>
</div>


<table class="table" *ngIf="projectList">
    <thead>
        <tr>
            <th>Project name</th>
            <th>Members</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>Deadline</th>
            <th>Tags</th>
            <th>Priority</th>
            <th>Review</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projectList">
            <td>{{project.name}}</td>
            <!-- <td>{{project.membres}}</td> -->
            <td>
                <p-avatarGroup styleClass="p-mb-3">
                    <div *ngFor="let member of project.membres">
                        <div *ngIf="isLoading">
                            <h1 (loaded)="labelLoaded($event)">aaaaaaaaa</h1>
                        </div>
                        <p-avatar image="assets/img/author-page.jpg" shape="circle">
                        </p-avatar>

                    </div>

                    <p-avatar label="+2" shape="circle" [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}">
                    </p-avatar>
                </p-avatarGroup>

            </td>
            <td>
                <p-tag severity="warning" value="{{project.status}}" [rounded]="true"></p-tag>
            </td>
            <td>{{project.startDate}}</td>
            <td>{{project.deadline}}</td>
            <td>
                <div class="d-flex flex-row">
                    <div *ngFor="let tag of project.tags" class="p-2">
                        <p-tag [rounded]="true" value="{{tag}}"></p-tag>
                    </div>
                </div>
            </td>
            <td>
                <p-tag severity="danger" value="High" [rounded]="true"></p-tag>
            </td>
            <td>
                <p-rating style="width: 100%;" [cancel]="false"></p-rating>
            </td>
        </tr>
        <h1>{{aaaa}}</h1>

    </tbody>
</table>