<app-sidebar></app-sidebar>
<app-sidebarright></app-sidebarright>
<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <router-outlet></router-outlet>
            <div class="ui-block">
                <div class="ui-block-title">
                    <h3 class="title">Gestion Project</h3>
                </div>
                <div class="ui-block-content">
                    <router-outlet></router-outlet>
                    <!-- <mat-tab-group>
                        <mat-tab label="Projects">
                            <app-demo></app-demo>
                        </mat-tab>
                        <mat-tab label="New Projects">
                            <app-new-project></app-new-project>
                        </mat-tab>
                    </mat-tab-group> -->
                </div>
            </div>
        </div>
    </div>
</div>