<nz-spin [nzSpinning]="isLoadingData" [nzSize]="'large'">
    <div class="container">
        <div class="row">
            <div class="col col-xl-4 order-xl-4 col-lg-6 order-lg-4 col-md-6 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="ui-block-content">
                        <ul class="statistics-list-count">
                            <li>
                                <div class="points">
                                    <span>
                                        Number Of Users
                                    </span>
                                </div>
                                <div class="count-stat">{{dashbordInformations?.CountUser}}
                                    <span class="indicator positive"> {{dashbordInformations?.active}} connected</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col col-xl-4 order-xl-4 col-lg-6 order-lg-4 col-md-6 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="ui-block-content">
                        <ul class="statistics-list-count">
                            <li>
                                <div class="points">
                                    <span>
                                        Number of Projects
                                    </span>
                                </div>
                                <div class="count-stat">{{dashbordInformations?.CountProject}}
                                    <span class="indicator positive"> + {{dashbordInformations?.CountProject-2}}
                                        new</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col col-xl-4 order-xl-4 col-lg-6 order-lg-4 col-md-6 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="ui-block-content">
                        <ul class="statistics-list-count">
                            <li>
                                <div class="points">
                                    <span>
                                        Number Of Tasks
                                    </span>
                                </div>
                                <div class="count-stat">{{dashbordInformations?.CountTasks}}
                                    <span class="indicator positive"> + {{dashbordInformations?.CountTasks-3}}
                                        new</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nz-spin>
<div class="container">
    <div class="row">
        <div class="col col-lg-12 col-sm-12 col-12">
            <div class="ui-block responsive-flex">
                <div class="ui-block-title">
                    <div class="h6 title">Monthly Bar Graphic</div>
                </div>

                <div class="ui-block-content">
                    <div class="d-flex justify-content-between">

                        <button (click)="showModal()" nz-button nzType="primary"><i style="font-size: 1rem;"
                                class="pi pi-plus mr-2"></i> Add
                            new user</button>
                        <br />
                        <br />
                        <mat-form-field style="width: 30%;" appearance="outline">
                            <input (ngModelChange)="getAllUser()" [(ngModel)]="searchQuary" name="searchQuary" matInput
                                placeholder="Search for user" />
                            <button mat-button *ngIf="searchQuary" matSuffix mat-icon-button aria-label="Clear"
                                (click)="searchQuary='';getAllUser()">
                                <mat-icon matSuffix>close</mat-icon>
                            </button>
                            <button mat-button *ngIf="!searchQuary" matSuffix mat-icon-button aria-label="search"
                                (click)="searchQuary=''">
                                <mat-icon matSuffix>search</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <nz-spin [nzSpinning]="isLoadingTable" [nzSize]="'large'">
                        <nz-table class="table" #basicTable [nzData]="userList">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Picture</th>
                                    <th>Username</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of userList; let i = index">
                                    <td style="width: 1rem;">{{i+1}}</td>
                                    <td>
                                        <div
                                            *ngIf="user?.attributes?.imgUrl  == ' ' || user?.attributes?.imgUrl  == ''; then thenBlock else elseBlock">
                                        </div>
                                        <ng-template #thenBlock>
                                            <p-avatar image="assets\img\user-avatar.png" styleClass="p-mr-2"
                                                size="large" shape="circle">
                                            </p-avatar>
                                        </ng-template>
                                        <ng-template #elseBlock>
                                            <p-avatar [image]="urlserver(user?.attributes?.imgUrl)" styleClass="p-mr-2"
                                                size="large" shape="circle">
                                            </p-avatar>
                                        </ng-template>
                                    </td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                                    <td>{{user.email}}</td>
                                    <td>
                                        <ng-container *ngIf="user.enabled; else elseif1">
                                            <p-tag styleClass="p-mr-2" severity="info" value="Enabled">
                                            </p-tag>
                                        </ng-container>
                                        <ng-template #elseif1>
                                            <p-tag styleClass="p-mr-2" severity="danger" value="Disabled">
                                            </p-tag>
                                        </ng-template>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="user.enabled; else elseif2">
                                            <button nz-popconfirm nzPopconfirmTitle="Are you sure?" nzOkText="ok" 
                                                nzCancelText="cancel" (nzOnConfirm)="changeUserStatus(user.id)">
                                                <i nz-icon style="font-size: 1.2rem" nzType="delete"
                                                    [nzTheme]="'twotone'"
                                                    [nzTwotoneColor]="'rgb(209, 33, 33)'"></i></button>
                                        </ng-container>
                                        <ng-template #elseif2>
                                            <button nz-popconfirm nzPopconfirmTitle="Are you sure?" nzOkText="ok"
                                                nzCancelText="cancel" (nzOnConfirm)="changeUserStatus(user.id)">
                                                <i nz-icon style="font-size: 1.2rem" [nzType]="'check-circle'"
                                                    [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i></button>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </nz-spin>
                </div>
            </div>
        </div>
    </div>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Create new user account" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <form [formGroup]="newUserForm">
            <div class="row">
                <div class="col">
                    <div class="form-group">

                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input formControlName="username" name="username" matInput
                                placeholder="Input placeholder" />
                            <mat-error
                                *ngIf="(newUserFormControl.username.touched || submitted) && newUserFormControl.username.errors?.required">
                                Username is required
                            </mat-error>
                        </mat-form-field>


                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input formControlName="firstName" name="firstName" matInput
                                placeholder="Your first Name" />
                            <mat-error
                                *ngIf="(newUserFormControl.firstName.touched || submitted) && newUserFormControl.firstName.errors?.required">
                                First Name is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input formControlName="lastName" name="lastName" matInput placeholder="Your last Name" />
                            <mat-error
                                *ngIf="(newUserFormControl.lastName.touched || submitted) && newUserFormControl.lastName.errors?.required">
                                Last Name is required
                            </mat-error>
                        </mat-form-field>


                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input type="email" formControlName="email" name="email" matInput
                                placeholder="Your email" />
                            <mat-error
                                *ngIf="(newUserFormControl.email.touched || submitted) && newUserFormControl.email.errors?.required">
                                Email is required
                            </mat-error>
                            <mat-error
                                *ngIf="newUserFormControl.email.touched && newUserFormControl.email.errors?.email">
                                Enter a valid email address
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button [disabled]="!newUserForm.valid" nz-button nzType="primary" (click)="handleOk()"
            [nzLoading]="isConfirmLoading">Save</button>
    </div>
</nz-modal>
<p-toast appendTo="body"></p-toast>