<div class="ui-block-title">
    <div class="h5 title">ResetPassword</div>
</div>
<div class="ui-block-content">


    <!-- Personal Information Form  -->

    <form [formGroup]="restPasswordForum" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-group">
                    <mat-form-field style="width: 100%" appearance="outline">
                        <mat-label>Old Password</mat-label>
                        <input type="password" formControlName="oldpassword" name="oldpassword" matInput
                            placeholder="Your old password" />
                    </mat-form-field>
                </div>
            </div>
            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-group">
                    <mat-form-field style="width: 100%" appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input type="password" formControlName="newPassword" name="newPassword" matInput
                            placeholder="Enter new password" />
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field style="width: 100%" appearance="outline">
                        <mat-label>Repeat New Password</mat-label>
                        <input type="password" formControlName="repeatnewPassword" name="repeatnewPassword" matInput
                            placeholder="repeat new password" />
                    </mat-form-field>
                </div>
            </div>
            <div class="col col-lg-6 col-md-6 col-sm-12 col-12"></div>

            <div class="col">
                <button type="submit" class="btn btn-primary btn-lg full-width ">
                    <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 1.15rem"></i>
                    Save all Changes</button>
            </div>

        </div>
    </form>
    <!-- ... end Personal Information Form  -->
    <p-toast appendTo="body"></p-toast>
</div>